html {
  background-color: black;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  color: white;
}

p {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-top: 0px;
  margin-right: 30px;
  color: white;
  float: right;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: line-through;
  cursor: e-resize;
}

img {
  margin-left: 14px;
  margin-right: 20px;
  margin-top: 3px;
  margin-bottom: 20px;
  width: 70%;
  height: auto;
  float: left;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8 {
  display: none;
}

#top {
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
}

#sec1 {
  position: absolute;
  margin-top: 10px;
  left: 20px;
  width: 260px;
}

#sec2 {
  position: absolute;
  left: 290px;
  margin-top: 10px;
  width: 260px;
}

#cont {
  position: absolute;
  margin-top: 10px;
  right: 20px;
}

@media screen and (max-width: 715px) {
  img {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  p {
    float: none;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 55px;
  }

  span {
    display: none;
  }
}

@media screen and (max-width: 645px) {
  #sec2 {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  h1, p {
    font-size: 14px;
    line-height: 17px;
  }

  #sec1 {
    width: 200px;
  }
}
